.footer {
  background-image: url("../../../dist/img/footer/background1.png");
  background-size: cover;
  background-repeat: no-repeat;

  &-title {
    @include font('Montserrat', normal, 700, 28px, 42px);
    text-align: center;
    color: $main-text-color;
  }

  &-list {
    list-style: none;
    padding:32px 0  5px 0;

    li:nth-child(3) {
      background-color: rgba(70, 48, 72, 0.84);
      max-width: 300px;

    }

    &-item {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.11);
      max-width: 257px;
      margin: 18px auto;

      &__title {
        @include font('Montserrat', normal, 400, 24px, 24px);
        text-align: center;
        text-transform: uppercase;
        color: $main-text-color;
        padding: 36px 0;
        min-width: 257px;
        background-color: rgba(255, 255, 255, 0.06);
      }

      &__price {
        padding-top: 30px;

      }

      &__per {
        @include font('Montserrat', normal, 400, 14px, 16px);
        text-align: center;
        text-transform: uppercase;
        color: $main-text-color;
        padding-top: 20px;

      }

      &__per:after {
        content: '';
        display: block;
        border-bottom: 5px solid $theme-color;
        width: 60px;
        margin: 35px auto;
        text-align: center;
      }

      &__subscription {
        @include font('Montserrat', normal, 400, 16px, 18px);
        text-align: center;
        color: $main-text-color;
        padding-bottom: 37px;
      }

      &__button {
        border: 1px solid rgba(255, 255, 255, 0.15);
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.15);
        margin-bottom: 67px;

        p {
          @include font('Montserrat', normal, 400, 15px, 15px);
          text-align: center;
          text-transform: uppercase;
          color: $main-text-color;
          padding: 15px 37px;
        }
      }
    }
  }
}
.proposition {
  min-width: 300px;
  background-color: rgba(0, 0, 0, 0.11);
}

@media (min-width: 481px) {
  .footer {
    &-title {
      font-size: 42px;
      line-height: 44px;
      padding-top: 88px;
    }

    &-list {
      padding:34px 0  94px 0;
      display: grid;
      grid-template-columns: 300px 300px;
      row-gap: 30px;
      align-items: center;
      justify-items: center;
      justify-content: center;
      &-item {
        max-width: 257px;
        max-height: 460px;
        margin: 0;
        &__button {
          margin-bottom: 37px;
        }
      }
li:nth-child(1)p:nth-child(even){
  padding-bottom: 60px;
}
      li:nth-child(3) {
        min-height: 560px;
        max-width: 300px;
        margin-right: 35px;
      }
      li:nth-child(3)a{
        padding-top: 45px;
      }
      li:nth-child(3)p:nth-child(even){
        padding-top: 30px;
      }
    }
  }
}

@media(min-width: 993px){
  .footer{
    &-title {
      font-size: 48px;
      line-height: 50px;
      padding-top: 112px;
    }
    &-list {
      padding:61px 0  97px 0;
    display: flex;

      &-item {
        margin-right: 15px;
      }

      li:nth-child(3) {
        margin-right: 15px;
      }
    }
  }
}