button {
  border: none;
}

.header {
  background-image: url(../../../dist/img/project-img/background-image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 18.5px;

  &__navigation {
    background-color: $header-nav-background-color;
    margin: 0 -10px;
    padding: 31px 16px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond-to('small-landscape') {
      padding: 22px 20px 18px;
      display: grid;
      row-gap: 23px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
                "logo button"
                "menu menu";
    }

    @include respond-to('medium') {
      background-color: unset;
      margin: 0;
      padding: 31px 0 0;
      display: grid;
      row-gap: 23px;
      grid-template-columns: repeat(5, 1fr);
      grid-template-areas:
                "logo menu menu menu button";
    }
  }

  &__logo-text {
    display: none;
    margin-left: 17px;
    font-size: 24px;
    line-height: 16px;
    @include respond-to('small-landscape') {
      display: block;
    }
  }

  &__hamburger-menu {
    @include respond-to('small-landscape') {
      display: none;
    }
  }

  &__logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: $bolt-font-weight;
    text-transform: uppercase;
    font-family: $secondary-font;
    color: $theme-color;
    grid-area: logo;

    @include respond-to('medium') {
      justify-self: center;
    }
  }

  &__logo-image-hover {
    width: 43px;
    height: 41px;
    display: none;
  }

  &__logo-link:hover &__logo-image-active {
    display: none;
  }

  &__logo-link:hover &__logo-image-hover {
    display: block;
  }

  &__logo-link:hover &__logo-text {
    color: $main-text-color;
  }

  &__content {
    padding: 50px 0 416px;
    text-align: center;
    @include respond-to('small-landscape') {
      padding: 68px 0 459px;
    }
    @include respond-to('medium') {
      padding: 126px 0 459px;
    }
  }

  &__content-title {
    font-weight: $bolt-font-weight;
    font-family: $main-font;
    font-size: 48px;
    line-height: 48px;
    color: $main-text-color;
    margin-bottom: 19px;
    @include respond-to('small-landscape') {
      font-size: 72px;
      line-height: 72px;
    }
    @include respond-to('medium') {
      font-size: 82px;
      line-height: 82px;
    }
  }

  &__content-sub-title {
    font-family: $main-font;
    font-weight: $regular-font-weight;
    font-size: 18px;
    line-height: 24px;
    color: $theme-color;
    margin-bottom: 14px;
    @include respond-to('small-landscape') {
      font-size: 24px;
      margin-bottom: 19px;
    }
    @include respond-to('medium') {
      font-size: 30px;
      line-height: 30px;
    }
  }

  &__content-version {
    font-family: $main-font;
    font-weight: $regular-font-weight;
    font-size: 14px;
    line-height: 14px;
    color: $additional-text-color;

    @include respond-to('medium') {
      font-size: 16px;
      line-height: 16px;
    }
  }

  &__main-button {
    font-size: 15px;
    line-height: 15px;
    padding: 10px 24px;
    color: $main-text-color;
    background-color: $theme-color;
    grid-area: button;
    border-radius: 40px;

    @include respond-to('small-landscape') {
      justify-self: end;
      font-size: 16px;
      line-height: 16px;
      padding: 10px 34px;
    }

    @include respond-to('medium') {
      justify-self: center;
    }

    &:hover {
      border-color: $theme-color;
      background-color: $main-text-color;
      color: $theme-color;
    }
  }

  &__main-button-abs {
    font-size: 18px;
    line-height: 20px;
    padding: 12px 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    @include respond-to('small-landscape') {
      font-size: 21px;
      line-height: 23px;
      padding: 19px 61px;
    }
  }






  &__menu-list {
    position: absolute;
    left: 14px;
    right: 14px;
    top: 100%;
    grid-area: menu;
  }

  &__menu-list.header__menu-list--hidden {
    display: none;
    @include respond-to('small-landscape') {
      display: flex;
      flex-direction: row;
      position: unset;
      background-color: unset;
      justify-content: space-evenly;
    }
    @include respond-to('medium') {
      justify-content: end;
    }
  }

  &__menu-list-item {
    @include respond-to('small-landscape') {
      border: unset;
      padding: 0;
      font-size: 16px;
      line-height: 18px;
      text-decoration: none;
      list-style-type: none;
    }

    @include respond-to('medium') {
      margin-left: 6%;
    }
  }

  &__menu-item-link {

    @include respond-to('small-landscape') {
      &:hover {
        color: $main-text-color;
      }
      border: unset;
      padding: 0;
      font-weight: $bolt-font-weight;
      color: $theme-color;
    }
  }

  &__trial-period {
    font-family: $main-font;
    font-weight: $regular-font-weight;
    position: absolute;
    top: 106%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    line-height: 14px;
    color: $additional-text-color;
  }
}


.hamburger-menu {
  width: 26px;

  &:hover {
    cursor: pointer;
  }

  &__line1, &__line2, &__line3 {
    margin: 0 0 6px 0;
    height: 1px;
    border: 1px solid $main-text-color;
    border-radius: 5px;
    background-color: $main-text-color;
    display: block;
    transition: all 0.3s ease-in-out;
  }

  &__line1 {
    margin: 0 0 6px 11px;
  }

  &.is-active &__line2 {
    opacity: 0;
  }

  &.is-active &__line1 {
    margin-left: 0px;
    transform: translateY(10px) rotate(45deg);
  }

  &.is-active &__line3 {
    transform: translateY(-6px) rotate(-45deg);
  }
}

.burger-menu {
  &:hover {
    cursor: pointer;
  }

  display: none;
  right: 17px;
  top: 35px;
  width: 26px;
  height: 24px;

  &__close {
    width: 26px;
    height: 22px;
  }
}


.menu-list {
  font-family: $main-font;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  color: $main-text-color;
  background-color: $menu-background-color;
  list-style-type: none;

  &__item {
    @media (max-width: 480px) {
      font-size: 26px;
      border-bottom: 3px solid #3B3B3B;
      padding: 29px 0 21px;
    }
    font-size: 16px;
    line-height: 26px;
  }

  &__item-link {
    @media (max-width: 480px) {
      font-size: $regular-font-weight;
      text-decoration: none;
      color: inherit;
      padding-left: 29px;
      padding-top: 10px;
      padding-bottom: 10px;

      &:hover {
        border-left: 8px solid transparent;
        color: $theme-color;
        border-color: $theme-color;

      }
    }
  }
}

.main-button {
  font-family: $main-font;
  font-weight: $bolt-font-weight;
  border: 1px solid transparent;
  border-radius: 40px;
  cursor: pointer;
}