.people-about {
  padding: 57px 0 14px;
  font-family: $secondary-font;
  color: $main-text-color;
  font-weight: $bolt-font-weight;
  text-align: center;
  background: url('../../../dist/img/project-img/people-background.png'), linear-gradient(#4b3b4e, #4b3b4e);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include respond-to('small-landscape') {
    padding: 87px 0 0;
  }
  @include respond-to('medium') {
    padding: 108px 0 0;
    background-position: bottom;
    background-size: cover;
  }


  &__title {
    font-family: $main-font;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 53px;
    @include respond-to('small-landscape') {
      font-size: 42px;
      line-height: 44px;
      margin-bottom: 85px;
    }
    @include respond-to('medium') {
      font-size: 48px;
      line-height: 50px;
      margin-bottom: 81px;
    }
  }

  &__wrapper-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 45px;
    padding: 0 25px;
    margin-bottom: 37px;
    @include respond-to('small-landscape') {
      padding: 0;
      row-gap: 62px;
      column-gap: 8%;
      align-items: center;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 67px;
    }
    @include respond-to('medium') {
      padding: 0 6%;
      row-gap: 116px;
      column-gap: 5%;
      align-items: center;
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 119px;
    }

  }

  &__content {
    font-size: 16px;
    line-height: 24px;
    font-family: Lato, sans-serif;
    font-style: italic;
    margin-top: 28px;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__footer {
    font-size: 14px;
    line-height: 21px;
    font-family: $secondary-font;
    font-weight: $regular-font-weight;
    color: #A291A5;
    line-height: 21px;
    padding: 0 35px 0 35px;
    @include respond-to('small-landscape') {
      font-size: 14px;
      line-height: 21px;
      font-family: $secondary-font;
      font-weight: $regular-font-weight;
      color: #A291A5;
      line-height: 21px;
      padding: 0 35px 0 35px;
    }
    @include respond-to('medium') {
      font-size: 14px;
      line-height: 21px;
      font-family: $secondary-font;
      font-weight: $regular-font-weight;
      color: #A291A5;
      line-height: 21px;
      padding: 0 17% 0 17%;
    }
  }

  &__separator {
    margin: 0 auto;
    padding-top: 19px;
    border-bottom: 2px solid #645766;
    width: 90%;
    @include respond-to('small-landscape') {
      width: 70%;
      @include respond-to('medium') {
        width: 60%;

      }
    }
  }
}

