
.main {

  &-title {
    @include font('Montserrat', normal, 700, 26px, 28px);
    text-align: center;
    text-transform: uppercase;
    color: $main-title-text-color;
    padding: 80px 0 27px 0;
  }

  &-text {
    @include font('Lato', normal, 400, 14px, 20px);
    text-align: center;
    color: #323232;
    padding: 0 10px;
    display: block;
    max-width: 896px;
    margin: 0 auto;
  }

  &-btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 36px;

    li {
      list-style: none;
      margin: 0 15px 20px 0;
    }

    &__star {
      display: flex;
      align-items: center;

      .label {
        padding: 0 10px 0 10px;
        font-size: 16px;
      }

      .label-counter {
        border: 1px solid rgba(105, 107, 107, 0.3);
        border-radius: 50%;
        font-size: 14px;
        background-color: rgba(105, 107, 107, 0.3);
        padding: 0;
        margin: 0 10px 0 0;
      }
    }
  }
}

.get {
  &-title {
    @include font('Montserrat', normal, 700, 32px, 38px);
    text-align: center;
    color: $theme-color;
    margin: 100px 0 36px 0;
    padding: 0 35px ;
  }

  &-list {
    display: flex;
    flex-direction: column;
    list-style: none;

    &__item {
      img {
        display: block;
        margin: 0 auto;
      }

      &__description {
        p {
          @include font('Montserrat', normal, 400, 16px, 16px);
          color: #323232;
          text-align: center;
          padding: 27px 0 14px 0;
        }

        p:last-child {
          @include font('Lato', normal, 400, 14px, 21px);
          padding: 0 10px 35px 10px;
          text-align: center;
          color: $additional-text-color;

        }
      }
    }
  }

  &-img {
    max-width: 700px;
    min-height: 381px;
    width: 100%;
    margin: 0 auto;
  }
}


@media (min-width: 481px) {
  .main {
    &-title {
      font-size: 42px;
      line-height: 42px;
    }

    &-text {
      font-size: 21px;
      line-height: 32px;
    }

    &-btn {
      margin-top: 24px;
    }
  }
  .get {
    &-title {
      font-size: 42px;
      line-height: 44px;
    }

    &-list {
      &__item {
        padding-bottom: 55px;
        padding-right: 12px;

        .item-img1 {
          padding: 0 20px;
        }

        .img-img2 {
          padding: 0 40px 0 20px;
        }

        .item-img3 {
          padding: 0 55px 0 35px;
        }

        .item-img4 {
          padding: 0 47px 0 30px;
        }

        display: flex;
        align-items: center;

        &__description {
          p {
            line-height: 21px;
            text-align: left;
            padding-top: 0;
          }

          p:last-child {
            text-align: left;
            padding: 0;
          }
        }
      }
    }

    &-img {
      display: block;
      margin-right: 0;
    }
  }
}

@media(min-width: 993px) {
  .main {
    &-title {
      font-size: 54px;
      line-height: 54px;
    }

    &-btn {
      margin-top: 13px;
      margin-bottom: 70px;
    }
  }
  .get {
    padding-top: 98px;
    display: grid;
    grid-template-columns:42% 58%;
    grid-template-rows: 15% 85%;
    background-color: $get-background-color;

    &-title {
      font-size: 48px;
      line-height: 50px;
      margin: 0;
      grid-column: 2/ 3;
      grid-row: 1/ 2;
    }

    &-list {
      grid-column: 1 / 2;
      grid-row: 1/ 3;

      &__item {
        padding-bottom: 34px;
      }
    }

    &-img {
      grid-column: 2 / 3;
      grid-row: 2/ 3;
    }
  }

}