@import "partials/reseter";

body{
  min-width: 320px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.container{
  padding: 0 10px;
}

@import "partials/variables";
@import "partials/mixins";
@import "partials/header-styles";
@import "partials/main-section1-styles";
@import "partials/main-section2-styles";
@import "partials/footer-styles";
